.board {
    display: grid;
    row-gap: 1px;
    column-gap: 1px;
    grid-template-columns: repeat(10,50px);
    margin: auto;
    margin-top: 5%;
    vertical-align: middle;
    border: 6px solid black;  
    background-color: black;
}            

.tile {
    background-image: none;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: darkgray;
    height: 35px;                                         
    width: 35px;
}

.number {
    text-align: center;
    user-select: none;
    margin-top: 10%;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.body {
    background-image: url("images/bombomb_background.png");
    background-size: 300px;
    background-position: center;
    background-color: rgba(0, 0, 0, .15);
}

.banner {
    text-align: center;
    display: flex;
    background-color: white;
    box-shadow: 2px 2px 8px;
    width: 105%;
    height: 75px;
    margin-bottom: 50px;
    margin-top: -8px;
    margin-left: -8px;
}

.text {
    font-size: 55px;
    padding-top: 5px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow:
        -4px -4px 6px #000,  
        4px -4px 6px #000,
        -4px  4px 6px #000,
        4px  4px 6px #000;
}

.flag_counter {
    display: flex;
    font-size: 55px;
    padding-top: 5px;
    padding-right: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow:
        -4px -4px 6px #000,  
        4px -4px 6px #000,
        -4px  4px 6px #000,
        4px  4px 6px #000;
}

.timer_counter {
    display: flex;
    font-size: 55px;
    padding-top: 5px;
    padding-right: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow:
        -4px -4px 6px #000,  
        4px -4px 6px #000,
        -4px  4px 6px #000,
        4px  4px 6px #000;
}